{"product_id": 1001, "product_name": "n", "category_path": "c", "price": 58.97}
{"product_id": 1002, "product_name": "n", "category_path": "c", "price": 2048.5}
{"product_id": 1003, "product_name": "n", "category_path": "c", "price": 7639.0}
{"product_id": 1004, "product_name": "n", "category_path": "c", "price": 49990000.0}
{"product_id": 1005, "product_name": "n", "category_path": "c", "price": 49.99}
{"product_id": 1006, "product_name": "n", "category_path": "c", "price": 59.9}
{"product_id": 1007, "product_name": "n", "category_path": "c", "price": -89.99}
{"product_id": 1008, "product_name": "n", "category_path": "c", "price": 49.99}
{"product_id": 1009, "product_name": "n", "category_path": "c", "price": 69.0}
{"product_id": 1010, "product_name": "n", "category_path": "c", "price": 89.99}
{"product_id": 1011, "product_name": "n", "category_path": "c", "price": 139.99}